streamlit==0.61.0
spacy==2.2.4
numpy==1.18.1
scipy==1.4.1
gensim==3.8.3
nltk==3.5
pyLDAvis
tensorflow==1.13.2
pandas==0.24.2
torchvision
transformers==2.11.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz